/* 띠배너 수정 */

#topBanner{ z-index:1100;}
#topBanner ~ #header{top:38px;}
#main #topBanner.hidden ~ #header,
#topBanner.hidden ~ #header{top:0px;}
#main #header.fixed,
#header.fixed{top:0; transition:top 0.1s;}

/* 띠배너 수정 끝*/


    /* 띠배너 시 헤더 수정 */
    #header.Dr_Top_Bg .Dr_Top_Wrap{
      position: relative;
       
    }
    #header.Dr_Top_Bg.fixed .Dr_Top_Wrap{
      position: fixed;
    }

    #topBanner.hidden ~ #header{top:0px;}
    #header.fixed{top:0; transition:top 0.1s;}

    /* 띠배너 시 헤더 수정 끝 */

    